.main
{
    width: 1000px;
    min-height: 100%;
    margin: 0 auto;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;    
}

/* Here custom styles begin */

/* Here custom styles end */
.main10
{
    width: 500px;
    height: 500px;        
    background-color: #0099cc;
    position: absolute;
    top: 50%;
    left: 50%;    
    margin-left: -250px; /* Отступ слева */
    margin-top: -250px;	/* Отступ       
    padding: 10px; /* Поля вокруг текста */
    overflow: auto;
}

.main11
{
    width: 800px;
    height: 400px;   
    position: absolute;    
    left: 50%;    
    margin-left: -400px; /* Отступ слева */
    overflow: auto;
}    
