.main
{
    width: 1000px;
    min-height: 100%;
    margin: 0 440px 0 460px;
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;    
}

/* Here custom styles begin */

/* Here custom styles end */
.main10
{
    width: 500px;
    height: 500px;    
    margin: 160px 720px 0 700px;    
    background-color: #0099cc;
    position: relative;    
}