*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html, body
{
    height: 100%;
}

body, div, a, p, ul, ol, li, table, td, th,
{
    font-family: Tahoma;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}

.bottom1
{
    margin-bottom: 5px;
}

.bottom2
{
    margin-bottom: 7px;
}

.indent1
{
     margin: 10px;
}

.indent2
{
     margin: 0 10px;
}

.layer1
{
    width: 340px;
    height: 25px;
    background-color: #00ffff;       
}

.layer2
{
    width: 435px;
    height: 15px;
    background-color: #33ccff;    
}

.layer3
{
    width: 260px;
    height: 162px;
    background-color: #3399ff;   
}

.layer4
{
    width: 190px;
    height: 145px;
    background-color: #6699ff;   
}

.layer3_1_1
{
    width: 100px;
    height: 20px;
    background-color: #9999ff;    
}

.layer3_1_2
{
    width: 120px;
    height: 30px;
    background-color: #cc66ff;   
}

.layer3_2
{
    width: 240px;
    height: 25px;
    background-color: #ff6666;   
}

.layer3_3_1
{
    width: 50px;
    height: 35px;
    background-color: #660033;       
}
 
.layer3_3_2
{
    width: 40px;
    height: 35px;
    background-color: #000066;
    margin-top: 10px;    
}

.layer3_3_3
{
    width: 45px;
    height: 35px;
    background-color: #999966;      
}

.layer4_1_1
{
    width: 38px;
    height: 30px;
    background-color: #ff00ff;      
}

.layer4_1_2
{
    width: 35px;
    height: 30px;
    background-color: #0033cc;   
    margin: 0 5px 0 0;    
}
.layer4_3
{
    width: 190px;
    height: 25px;
    background-color: #6600cc;    
 }