*
{
    margin: 0;
    padding: 0;
}

h1
{
    border-bottom: 2px solid #2279da;
    color: #2f363a;
    margin-bottom: 35px;
    font-family: Tahoma;
    font-weight: 500;
}

span
{ 
    font-family: Tahoma;
    font-size: 14px;   
    font-weight: 700;
}

.texture
{
    background-color: white;
    color: black;
    width: 160px;
    height: 150px;
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border: 1px solid grey;
    text-align: center;    
}

.text_button
{
    font-family: Tahoma;
    font-size: 16px; 
    font-weight: 700;     
}

.in_texture1
{     
    background-image: url("../images/texture1.jpg");  
}

.in_texture2
{     
    background-image: url("../images/texture2.jpg");  
}

.in_texture3
{     
    background-image: url("../images/texture3.jpg");  
}
  
.status_button
{
    margin-top: 20px;
    width: 297px;
    height: 40px; 
    background-image: url("../images/button.png"); 
    border: 0px;   
    text-align: center; 
    font-family: Verdana;
    text-decoration: none;
    padding-top: 15px;
}

.status_button:hover
{
    background-image: url("../images/button-over.png");    
}
