*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html, body
{
    height: 100%;   
}

body, div, a, p, ul, ol, li, table, td, th,
{
    font-family: Tahoma;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}

.bottom
{
    margin-bottom: 10px;
}


.layer1
{   
    width: 700px;
    height: 50px;
    background-color: #00ffff;    
}

.layer2
{
    width: 900px;
    height: 30px;
    background-color: #33ccff;    
}

.layer3
{
    width: 500px;
    height: 300px;
    background-color: #3399ff;   
    padding: 20px;
}

.layer4
{
    width: 400px;
    height: 300px;
    background-color: #6699ff;   
}

.layer3_1_1
{
    width: 200px;
    height: 40px;
    background-color: #9999ff;    
}

.layer3_1_2
{
    width: 250px;
    height: 70px;
    background-color: #cc66ff;   
}

.layer3_2
{    
    height: 50px;
    background-color: #ff6666;   
    margin: 20px 0;
}

.layer3_3_1
{
    width: 100px;
    height: 70px;
    background-color: #660033;       
}
 
.layer3_3_2
{
    width: 80px;
    height: 70px;
    background-color: #000066;
    margin-left: 20px;  
}

.layer3_3_3
{
    width: 90px;
    height: 70px;
    background-color: #999966;      
}

.layer4_1
{    
    height: 60px; 
    margin-bottom: 15px;    
}

.layer4_1_1
{
    width: 80px;
    height: 60px; 
    background-color: #ff00ff;      
}

.layer4_1_2
{
    width: 70px;
    height: 60px; 
    background-color: #0033cc;   
    margin-right: 10px;    
}

.layer4_3
{
    height: 50px;
    background-color: #6600cc;  
    margin-top: 10px;    
 }