*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html, body
{
    height: 100%;
    width: 100%;
}

body, div, a, p, ul, ol, li, table, td, th,
{
    font-family: Tahoma;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6
{
    font-family: Arial;
}

.clear
{
    clear: both;
}

.red
{
    background-color: #ff0000;
}

.square
{
    width: 70px;
    height: 70px;
}

.square2
{
    position: absolute;
    top: 20%;
    left: 20%;
    height: 100px;
    width: 100px;
    margin: 20% 0 0 20%;
    background-color: #00cc00;
}

.pos 
{
    position: absolute;
}

.pos1
{    
    top: 0;
 }
 
 .pos2
{
    right: 0;
 }

 .pos3
{    
    top: 86%;
 }
 
 .pos4
{
    left: 86%;     
}
