<!DOCTYPE html>                                              
<html>
  <head>             
    <meta charset="utf-8">
    <title>Картинки</title>          
  </head>            
  <body>
    <h1>{$headline}</h1>
    <form action="image_upload.php" method="POST"
      enctype="multipart/form-data">   
      <label>Фото</label><br/>    
      <input type="file" name="Картинки"/><br/>     
      <input type="submit" value="Показать">
    </form>                                
  </body>
</html>                            
