<!DOCTYPE html>                                              
<html>
  <head> 
    <meta charset="utf-8">
    <title>Layout</title>
  </head>
  <body>    
    <div style="width: 800px; height: 800px; position: relative; background-color: #ffffff;
      margin-botton: 5px; margin-left: 5px; margin-right: 5; margin-top: 0;
      padding-top: 0; border: 1px solid #000000;">    
      {include file='header.html'}       
      {include file='sidebar.html'}
      {include file='content.html'}
      {include file='footer.html'}
    </div>            
  </body>
</html>                        