<!DOCTYPE html>                                              
<html>
  <head> 
    <meta charset="utf-8">
    <title>Layout</title>
  </head>
  <body>    
    <div style="width: 800px; height: 800px; position: relative; background-color: white; margin: 0 auto; border: 1px solid gray;">    
      <div style="width: 800px; height: 100px; background-color: darkcyan; ">
      <h1> Header </h1>      
      </div>                     
                                                                       
      <div style="width: 200px; height: 500px; background-color: coral; float: left;">
      Sidebar
      </div>   
    
      <div style="width: 600px; height: 640px; background-color: gray; float: right;">
      Content
      </div>

      <div style="width: 800px; height: 60px; background-color: lightsalmon; clear: both;">
      <h6> Footer </h6>
      </div>       
    </div>        
  </body>
</html>                            
                                   