<!DOCTYPE html>                                              
<html>
  <head>           
    <meta charset="utf-8">
    <title>Sin</title>          
  </head>           
  <body>
    <h1>{$headline}</h1> 
      <table border=1>
        <thead>
          
        </thead>
        <tbody>
          {foreach from=$sins item=sin}
            <tr>
 <td><font color="black">{$sin.degree}</font></td>
              <td><font color="black">{$sin.minute}</font></td>
              <td><font color="black">{$sin.sin}</font></td>
             
            </tr>
          {/foreach}
        </tbody>                                          
      </table>                 
  </body>            
</html>                                                        
    